body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.meal {
    background-color: burlywood;
    color: black;
}

a.title:hover {
    color: yellow;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    margin: 5px 0;
}
ul li a {
    text-decoration: none;
    color: black;
    padding: 5px;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f4f4f4;
}
ul li a:hover {
    color: #23c5e2;
    background: #ddd;
}

.flash {
    position: relative;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}

.flash .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #000;
    opacity: 0.6;
}

.flash .close-btn:hover {
    opacity: 1;
}

.flash.success {
    background-color: #d4edda;
    color: #155724;
}

.flash.info {
    background-color: #cce5ff;
    color: #004085;
}

.flash.danger {
    background-color: #f8d7da;
    color: #721c24;
}


form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f4f4f4;
}
label {
    display: block;
    margin: 10px 0 5px;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #555;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}