{% extends "base.html" %}
{% block content %}
<h2 class="login">Login</h2>

<form method="POST" action="{{ url_for('login') }}">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" required>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <button type="submit">Login</button>
</form>
<p>
    <a href="{{ url_for('register') }}" class="register">Don't have an account? Register here</a>
</p>
{% endblock %}
