{% extends "base.html" %}
{% block content %}
<h2 class="register">Register</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
<form method="POST" action="{{ url_for('register') }}">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" required>
    <label for="firstname">First Name:</label>
    <input type="text" name="firstname" id="firstname" required>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <button type="submit">Register</button>
</form>
{% endblock %}
